/*container includes table and canvas */
.center-container
{ 
    width: 608px; /* set width of container */
    margin: 0 auto; /* centers container */
    margin-top: 50px/* sets margin from top */
}
table
{
border-collapse: collapse; /* collapses table borders into 1 border */
border-style: hidden; /* hides outer borders */
}

td
{ 
    cursor:pointer; /* changes cursor to finger at hover */
    border:4px solid #03fc24cc;/* sets border */
    padding: 0px;/* removes default padding */
    width: 200px;
    height:200px;
}
canvas{
    position: absolute; /* set canvas to top left of container */
    z-index: 10;/* sets canvas over table */
    pointer-events: none;/* makes canvas invisible */
}

/* set width of container */
/* set width of container */
/* set width of container */
/* set width of container */
/* set width of container */